---
const {
    src,
    class: className,
    text,
    subtext,
    textclass = "",
    subtextclass = "",
    srcclass = "",
} = Astro.props;
---

<div class={`w-full h-full font-dm-sans-500 rounded-lg ${className}`}>
    <h2 set:html={text} class={`text-balance  ${textclass}`} />
    <img src={src} class={srcclass} />
    <p set:html={subtext} class={subtextclass} />
</div>
